@using System.Security.Claims

@{
    ViewBag.Title = "Unauthorized";
}

<h2>Unauthorized</h2>

<div class="alert alert-danger">You don't have permissions to access this page!</div>

<h4>Current Permsisions</h4>

@if (User.Identity.IsAuthenticated)
{
    <ul>
        @foreach (var claim in (User.Identity as ClaimsIdentity).Claims.OrderBy(c => c.Type).Where(c => c.Type == ClaimTypes.Role))
        {
            <li>@claim.Value</li>
        }
    </ul>
}