@using System.Security.Claims

@{
    ViewBag.Title = "Employees Overview";
}

<h2>Employees Overview</h2>

You can only see this page if you have the <strong>employee_read</strong> permissions.

<br/>
<br/>

@if (ClaimsPrincipal.Current.HasClaim(ClaimTypes.Role, "employee_create"))
{
    <a href="@Url.Action("Create", "Employee")" class="btn btn-info btn-lg">Create a new employee</a>
}