@using System.Security.Claims
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HR Tool</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Claim Type</th>
                    <th>Claim Value</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var claim in (User.Identity as ClaimsIdentity).Claims.OrderBy(c => c.Type))
                {
                    <tr>
                        <td>@claim.Type</td>
                        <td>@claim.Value</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}